.profileBox {
    border-radius: 30px;
    border: 9px solid black;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    background-image: linear-gradient(45deg, #00FF80, #00FF80 8%, white 65%);
}

@media only screen and (max-width: 800px){
    .container{
        flex-direction: column;
        align-items: center;
        padding: 25px;
        
    }
    .container > div{
        width: 100%;
    }
    .container > div > div:first-child{
        margin: 0;
        padding: 25px;
    }
    .container > div > div > div:first-child{
        padding: 0 0 10px 0;
    }
}