.container{
    display: flex;
    justify-content: center;
    height: 100%;
    background: black;
    min-width: 225px;
    box-shadow: #00FF80 1px 0px 5px;
    min-height: 100px;
    transition: all 500ms ease-in-out;
}

.container.isActive{
    transform: translate(0);
}

.searchTypeSelection:hover{
    cursor: pointer;
}

.searchTypeChild{
    background-color: #4eff9d;
}

.searchTypeChild:hover{
    border: 2px solid #4eff9d;
    color: #4eff9d;
}

.sortTypeSelection:hover{
    cursor: pointer;
}

.sortTypeChild{
    background-color: #4eff9d;
}

.sortTypeChild:hover{
    border: 2px solid #4eff9d;
    color: #4eff9d;
}

.searchInput{
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 3rem;
    padding: 5px;
}

.menuToggle{
    display: none;
    position: fixed;
    top: 8rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: #2e3047;
    cursor: pointer;
    z-index: 100;
}

.hamburger{
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 32px;
}

.hamburger > span, .hamburger > span::before, .hamburger > span::after{
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 99px;
    background-color: #FFF;
    transition-duration: 0.25s;
}

.hamburger > span::before { 
    content: '';
    top: -8px;
}

.hamburger > span::after{
    content: '';
    top: 8px;
}

.menuToggle.isActive .hamburger > span{
    transform: rotate(45deg);
}

.menuToggle.isActive .hamburger > span::before{
    top: 0;
    transform: rotate(0deg);
}

.menuToggle.isActive .hamburger > span::after{
    top: 0;
    transform: rotate(90deg);
}

@media only screen and (max-width: 700px) {
    .container{
        position: absolute;
        z-index: 1;
        transform: translate(-300px);
    }
    .menuToggle{
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }
} 